@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100..900&display=swap");

:root {
  --first: #e3e6f3;
  --second: #1a1a1a;
  --third: #088178;
  --four: #222222;
  --five: #465b52;
  --six: #cce7d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Spartan", sans-serif;
}

.sectionPadding {
  padding: 40px 80px;
}

/* Header Start */

#header {
  background-color: var(--first);
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--second);
  transition: all 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--third);
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: var(--third);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#hero {
  background-image: url(images/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
  font-size: 20px;
  color: var(--four);
}

#hero h1 {
  padding: 9px 0;
  font-size: 46px;
  line-height: 54px;
  color: var(--four);
}

#hero h2 {
  color: var(--third);
}

#hero p {
  padding: 20px 0;
  font-size: 16px;
  color: var(--five);
}

#hero button {
  background-image: url(images/button.png);
  background-repeat: no-repeat;
  background-color: transparent;
  color: var(--third);
  border: 0;
  padding: 14px 80px 14px 65px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

/* Feature Section Start */

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .feBox {
  width: 180px;
  padding: 25px 15px;
  margin: 15px 0;
  text-align: center;
  border: 1px solid var(--six);
  border-radius: 4px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
}

#feature .feBox:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .feBox img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .feBox h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  background-color: #fddde4;
  color: var(--third);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}

#feature .feBox:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .feBox:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .feBox:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .feBox:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .feBox:nth-child(6) h6 {
  background-color: #fff2e5;
}
